<h3 class="mb-4">管理者グループ</h3>

   <!--popover動作用js-->
  <%= render "layouts/popover" %>

<div>
  <!--グループ作成機能-->
  <%= form_with(model: @group, local: true) do |f| %>
    <div class="input-group mb-3" data-toggle="popover" data-placement="top" data-content="同じ名称のグループは作成できません  1~9文字まで">
      <%= f.text_field :name, type:"text", class:"form-control", placeholder:"管理者グループ新規作成", required: true %>
      <div class="input-group-append">
        <%= f.submit '-新規作成-', class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row mt-4">
  <div class="col-lg-7 order-1">
    <h4>参加中の管理者グループ</h4>
    <!--グループがあるかの判断とない場合の表示-->
    <% if @group_joining == [] %>
      <div class="alert alert-info"><%= @group_lists_none %></div>
    <% else %>
      <div  class="overflow-auto" style="height:510px;">
        <% @group_lists.each do |list| %>
          <!--参加しているグループがあるかの判断-->
          <% if list.user_ids.include?(current_user.id) %>
            <div class="row shadow mt-2 rounded border border-secondary-20 mr-1 mt-2 ml-1">
              <div class="col btn mt-1 mb-1 btn-block">
                <%= list.name %> <span class="badge badge-secondary"><%= list.user_ids.count %></span>
              </div>

              <!--グループユーザーかの判断-->
              <% if GroupUser.exists?(group_id: list.id, user_id: current_user.id) %>
                <div class="col-sm-3 col-lg-2">
                  <%= link_to '管理へ', new_group_share_food_path(list.id), class: "btn btn-outline-dark mt-1 mb-1 btn-block rounded-pill" %>
                </div>
                <div class="col-sm-2 col-lg-2">
                  <%= link_to '退出', groups_join_path(group_id: list.id), class: "btn btn-outline-info mt-1 mb-1 btn-block" %>
                </div>
              <% end %>

              <!--グループオーナーのみ表示-->
              <% if list.owner_id == current_user.id %>
                <div class="col-sm-2 col-lg-2">
                  <%= link_to '編集', edit_group_path(list.id), method: :get, class: "btn btn-outline-warning mt-1 mb-1 btn-block" %>
                </div>
                <div class="col-sm-2 col-lg-2">
                  <%= link_to '削除', "/groups/#{list.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-outline-danger mt-1 mb-1 btn-block" %>
                </div>
              <% else %>
                <div class="col-sm-2 col-lg-2"> </div>
                <div class="col-sm-2 col-lg-2"> </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-lg order-2 order-lg-2">
    <div class="row mt-4 ml-3">
      <!--グループ検索機能-->
      <%= form_with url: groups_search_path, method: :get, local: true  do |f| %>
        <div class="input-group mb-3">
          <%= f.text_field :keyword, placeholder: "グループ検索", class: "form-control" %>
          <div class="input-group-append">
            <%= f.submit '検索', class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="overflow-auto" style="height:470px;">
      <% if @results %>
        <% @results.each do |result| %>
          <div>
            <div class="row rounded border border-secondary-20">
              <div class="col btn mt-1 mb-1 btn-sm btn-block">
                <%= result.name %> <span class="badge badge-secondary"><%= result.user_ids.count %></span>
              </div>

             <!--グループユーザーかの判断-->
              <% if GroupUser.exists?(group_id: result.id, user_id: current_user.id) %>
                <div class="col-sm-3 col-lg-2">
                  <%= link_to '退出', groups_join_path(group_id: result.id), class: "btn btn-outline-info mt-1 mb-1 btn-sm btn-block" %>
                </div>
              <% else %>
                <div class="col-sm-3 col-lg-2">
                  <%= link_to '参加', groups_join_path(group_id: result.id), class: "btn btn-outline-success mt-1 mb-1 btn-sm btn-block rounded-pill" %>
                </div>
              <% end %>

              <!--グループオーナーのみ表示-->
              <% if result.owner_id == current_user.id %>
                <div class="col-sm-2 col-lg-2">
                  <%= link_to '編集', edit_group_path(result.id), method: :get, class: "btn btn-outline-warning mt-1 mb-1 btn-sm btn-block" %>
                </div>
                <div class="col-sm-2 col-lg-2 mr-2">
                  <%= link_to '削除', "/groups/#{result.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-outline-danger mt-1 mb-1 btn-sm btn-block" %>
                </div>
              <% else %>
                <div class="col-sm-2 col-lg-2"> </div>
                <div class="col-sm-2 col-lg-2 mr-2"> </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="alert alert-info">こちらから検索してグループに参加できます</div>
      <% end %>
    </div>
  </div>
</div>