<h3>group/index</h3>

<h3>グループ作成</h3>

<%= form_with(model: @group, local: true) do |f| %>
  <div>
    <div>
      <%= f.label :name, 'グループ名' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= f.submit '新規作成', class: "btn btn-primary" %>
  </div>
<% end %>


<div class="chat-group">
    <div>
        <div>
            <%= form_with url: groups_search_path, method: :get, local: true  do |f| %>-->
            <%= f.text_field :keyword, placeholder: "グループ検索", class: "group-search-form-input" %>-->
            <%= f.submit '検索' %>
            <% end %>
        </div>

        <% if @results %>
            <% @results.each do |result| %>
                <%= result.name %>
            <% end %>
        <% end %>

        <% if @group_joining == [] %>
            <%= @group_lists_none %>
        <% else %>
            <div>
                <ul>
                    <% @group_lists.each do |list| %>
                        <!--< if list.user_ids.include?(current_user.id) %>-->
                            <li>
                                <%= link_to "/groups/#{list.id}" do %>
                                    <%= list.name %>(<%= list.user_ids.count %>)
                                <% end %>
                                <% if @group_user == current_user %>
                                  <%= link_to '退出', groups_join_path(group_id: list.id) %>
                                <% else %>
                                  <%= link_to '参加', groups_join_path(group_id: list.id) %>
                                <% end %>
                                <%= link_to '共有管理へ', new_group_share_food_path(list.id) %> ###
                                <%= link_to '編集', edit_group_path(list.id), method: :get %>
                                <%= link_to '削除', "/groups/#{list.id}", method: :delete %>

                            </li>
                        <!--< end %>-->
                    <% end %>
                </ul>
            </div>
        <% end %>

    </div>
</div>