<h3>group/index</h3>

<h3>グループ作成</h3>

<%= form_with(model: @group, local: true) do |f| %>
  <div>
    <div>
      <%= f.label :name, 'グループ名' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
    </div>
    <%= f.submit '新規作成', class: "btn btn-primary" %>
  </div>
<% end %>


<div class="chat-group">
　  <h1>チャットグループ一覧</h1>
    <div class="group-search">
        <div class="group-search-form">
            <%= form_with url: groups_path do |f| %>
                <%= f.text_field :keyword, placeholder: "グループ検索", class: "group-search-form-input" %>
                <%= f.submit '検索' %>
            <% end %>
        </div>

        <% if @group_joining == [] %>
            <%= @group_lists_none %>
        <% else %>
            <div>
                <ul>
                    <% @group_lists.each do |list| %>
                        <!-- if list.user_ids.include?(current_user.id) %>-->
                            <li>
                                <%= link_to "/groups/#{list.id}" do %>
                                    <%= list.name %>(<%= list.user_ids.count %>)
                                    <%= link_to '編集', edit_group_path(list.id), method: :get %>
                                    <%= link_to '削除', "/groups/#{list.id}", method: :delete %>
                                <!--< end %>-->
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        <% end %>

    </div>
</div>