<h3 class="row">
  <div>食材一覧</div>　-　
  <div><%= render "layouts/member-button", list: @group %></div>
  <div><%= link_to " -  食糧庫へ  - ", new_group_share_food_path, class: "btn btn-outline-primary ml-4" %></div>
  <div class="col dropdown">
    <button type="button" id="dropdown1" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">並び順</button>
    <div class="dropdown-menu" aria-labelledby="dropdown1">
      <div><%= link_to '期限-昇順', group_share_foods_path(@group.id, sort_update1: "true"), class: "btn btn-outline-secondary btn-block" %></div>
      <div><%= link_to '期限-降順', group_share_foods_path(@group.id, sort_update2: "true"), class: "btn btn-outline-secondary btn-block" %></div>
      <div><%= link_to '作成-昇順', group_share_foods_path(@group.id, sort_update3: "true"), class: "btn btn-outline-secondary btn-block" %></div>
      <div><%= link_to '作成-降順', group_share_foods_path(@group.id, sort_update4: "true"), class: "btn btn-outline-secondary btn-block" %></div>
    </div>
  </div>
</h3>
<div class="mt-3">
  <div class="card-list-container-fluid pt-3">
    <div class="row">

        <% if @share_food_addition == [] %>
            <span class="alert alert-info"><%= @share_foods_none %></span>
        <% else %>
          <% @share_foods.each do |share_food| %>
            <% if share_food.group_id == @group.id %>
              <div class="card mr-2 mt-4 shadow-lg">
                <div class="card-body">
                  <%= link_to  "/groups/#{@group.id}/share_foods/#{share_food.id}" do %>
                    <p><%= attachment_image_tag share_food, :image, :fill, 225, 150 ,class:"card-img-top rounded", format: 'jpeg', fallback: "logo.PNG", size:'100x100' %></p>
                  <% end %>
                  <div class="card-title"><%= share_food.food_name %></div>
                  <div><%= "#{share_food.share_comments.count} コメント" %></div>
                  <div>ジャンル：<%= share_food.genre %></div>
                  <div>消費期限：<%= share_food.deadline_time.strftime('%Y/%m/%d') %></div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

    </div>
  </div>
</div>