<h3 class="offset-1">食材一覧-<%= @group.name %>
  <%= link_to " -  食糧庫へ  - ", new_group_share_food_path, class: "btn btn-outline-primary ml-4" %>
</h3>
<div class="mt-3">
  <div class="card-list-container-fluid pt-3">
    <div class="row">

      <% @share_foods.each do |share_food| %>
        <div class="card mr-2 mt-4 shadow-lg">
          <div class="card-body">
            <%= link_to  "/groups/#{@group.id}/share_foods/#{share_food.id}" do %>
              <p><%= attachment_image_tag share_food, :image, :fill, 300, 250 ,class:"card-img-top py-2 px-2" %></p>
            <% end %>
            
              <%= share_food.id %>
            
            <div class="card-title"><%= share_food.food_name %></div>
            <div><%= "#{share_food.share_comments.count} コメント" %></div>
            <div>ジャンル：<%= share_food.genre %></div>
            <div>消費期限：<%= share_food.deadline_time.strftime('%Y/%m/%d') %></div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>