<h3>
  共有食糧庫　-　
  <%= render "layouts/member-button", list: @group %>
  <%= link_to 'グループ画面へ', groups_path, class: "btn btn-outline-primary ml-5" %>
</h3>

   <!--popover動作用js-->
  <%= render "layouts/popover" %>

<div class="row">
  <div class="col-lg-4 order-1 order-lg-2">
  <%= form_with model: [@group, @share_food], local: true do |f| %>
    <div class="form-group row mt-3">
      <div class="col-md">食材名</div>
      <div class="col-md" data-toggle="popover" data-placement="left" data-content="1~15文字">
        <%= f.text_field :food_name, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group row mt-1">
      <div class="col-md"><%= f.label :食材情報 %></div>
      <div class="col-md" data-toggle="popover" data-placement="left" data-content="1~300文字">
        <%= f.text_area :detail, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group row mt-1">
      <div class="col-md"><%= f.label :ジャンル %></div>
      <div class="col-md" data-toggle="popover" data-placement="left" data-content="1~15文字">
        <%= f.text_field :genre, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group row mt-1">
      <div class="col-md col-lg-3"><%= f.label :食材画像 %></div>
      <div class="col-md"><%= f.attachment_field :image %></div>
    </div>

    <div class="form-group row mt-1">
      <div class="col-md"><%= f.label :個数 %></div>
      <div class="col-md"><%= f.select :quantity, options_for_select((1..10).to_a), class: "form-control" %></div>
    </div>
    <div class="form-group row mt-1">
      <div class="col-md"><%= f.label :消費期限 %></div>
      <div class="col-md"><%= f.datetime_select :deadline_time, class: "form-control" %></div>
    </div>

    <div class="form-group row mt-1">
      <div class="col-md"><%= link_to " -  食材一覧へ  - ", group_share_foods_path(@group.id), class: "btn btn-outline-dark ml-4 btn-block mt-1" %></div>
      <div class="col-md"><%= f.submit '作成', class: "btn btn-outline-success btn-block mt-1" %></div>
    </div>
  <% end %>
  </div>

  <!--カレンダーの表示-->
  <div class="col-lg-8 order-2 order-lg-2">
    <%= month_calendar events: @group.share_foods do |date, share_foods| %>
      <%= date.day %>
      <% if share_foods.present? %>
      <div class="dropdown">
        <button type="button" id="dropdown1" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="dropdown1">
          <% share_foods.each do |share_food| %>
            <div>
              <%= link_to share_food.food_name, "/groups/#{@group.id}/share_foods/#{share_food.id}", class:"btn btn-light btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>