<h3>食材編集
  <%= link_to " -  食材データへ  - ", food_path(@food.id), class: "btn btn-outline-primary ml-4" %>
</h3>

   <!--popover動作用js-->
  <%= render "layouts/popover" %>

<div class="row rounded border shadow ">
  <div class="col-sm-12 col-lg mt-2 mb-2">
    <%= form_with model:@food, local: true do |f| %>
      <div class="form-group row">
        <div class="col-3">食材名</div>
        <div class="col-auto" data-toggle="popover" data-placement="left" data-content="1~15文字">
          <%= f.text_field :food_name, class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group row mt-3">
        <div class="col-3">食材情報</div>
        <div class="col-auto" data-toggle="popover" data-placement="left" data-content="1~15文字">
          <%= f.text_area :detail, class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group row mt-3">
        <div class="col-3">ジャンル</div>
        <div class="col-auto" data-toggle="popover" data-placement="left" data-content="1~15文字">
          <%= f.text_field :genre, class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group row mt-3">
        <div class="col-3">個数</div>
        <div class="col-auto"><%= f.select :quantity, options_for_select((1..10).to_a, :selected => @food.quantity) %></div>
      </div>
      <div class="form-group row mt-3">
        <div class="col-3">消費期限</div>
        <div class="col-auto"><%= f.datetime_select :deadline_time %></div>
      </div>
      <div class="form-group row mt-3">
        <div class="col-3"><%= f.label :食材画像 %></div>
        <div class="col-auto"><%= f.attachment_field :image %></div>
      </div>
      <div class="form-group row mt-3">
        <div class="col-3"></div>
        <div class="col-4">
          <%= f.submit "update", class:"btn btn-outline-success btn-sm mt-3" %>
          <% if @food.user == current_user %>
            <%= link_to "delete", food_path(@food), method: :delete, class:"btn btn-outline-danger btn-sm mt-3" %>
          <% end %>
        </div>
      </div>
    <% end %>
    
    
  </div>
</div>
