<h3 class="row">
  <div class="co3">食材一覧</div>
  <%= link_to " -  食糧庫へ  - ", new_food_path, class: "btn btn-outline-primary ml-4" %>
  <div class="col dropdown">
    <button type="button" id="dropdown1" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">並び</button>
    <div class="dropdown-menu" aria-labelledby="dropdown1">
      <div><%= link_to '期限-昇順', foods_path(sort_update1: "true"), class: "btn btn-outline-secondary btn-block" %></div>
      <div><%= link_to '期限-降順', foods_path(sort_update2: "true"), class: "btn btn-outline-secondary btn-block" %></div>
      <div><%= link_to '作成-昇順', foods_path(sort_update3: "true"), class: "btn btn-outline-secondary btn-block" %></div>
      <div><%= link_to '作成-降順', foods_path(sort_update4: "true"), class: "btn btn-outline-secondary btn-block" %></div>
    </div>
  </div>
</h3>

<div class="mt-3">
  <div class="card-list-container-fluid pt-3">
    <div class="row">
      <% @foods.each do |food| %>
        <% if food.user_id == current_user.id %>
          <div class="card mr-4 mt-4 shadow-lg">
            <div class="card-body">
              <%= link_to food_path(food.id) do %>
                <p><%= attachment_image_tag food, :image, :fill, 145, 100 ,class:"card-img-top", format: 'jpeg', fallback: "no_image.jpg" %></p>
              <% end %>
              <div class="card-title"><%= food.food_name %></div>
              <div><%= "#{food.comments.count} コメント" %></div>
              <div>ジャンル：<%= food.genre %></div>
              <div>消費期限：<%= food.deadline_time.strftime('%Y/%m/%d') %></div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>