<h1>foods/show</h1>

<div class="card mr-2 mt-4 shadow-lg">
  <div class="card-body">
    <div class="row">
      <div class="col-auto">
        <div><%= attachment_image_tag @food, :image, :fill, 300, 250 %></div>
      </div>
      
      <div class="col-auto">
        <div class="row mt-3">
          <div class="col">食材名</div>
          <div><%= @food.food_name %></div>
        </div>
        <div class="row mt-3">
          <div class="col">食材情報</div>
          <div><%= @food.detail %></div>
        </div>
        <div class="row mt-3">
          <div class="col">ジャンル</div>
          <div><%= @food.genre %></div>
        </div>
        <div class="row mt-3">
          <div class="col">管理者名</div>
          <div><%= @food.user.name %></div>
        </div>
        <div class="row mt-3">
          <div class="col">個数</div>
          <div><%= @food.quantity %></div>
        </div>
        <div class="row mt-3">
          <div class="col">消費期限</div>
          <div><%= @food.deadline_time.strftime('%Y/%m/%d') %></div>
        </div>
      </div>
      
      <div class="col-auto"><%= link_to "edit", edit_food_path(@food) %></div>
      
    </div>
  </div>
</div>