<h3>食材データ
  <%= link_to " -  一覧へ  - ", foods_path, class: "btn btn-outline-primary ml-4" %></h3>

<div class="row rounded border shadow ">
  <div class="col-sm-auto col-lg-4 mt-2 mb-2">
    <%= attachment_image_tag @food, :image, class:"w-40 img-fluid img-thumbnail shadow", format: 'jpeg', fallback: "no_image.jpg" %>
  </div>

  <div class="col-sm-12 col-lg-4 mt-2 mb-2">
    <div class="row">
      <div class="col-3">食材名</div>
      <div class="col-auto"><%= @food.food_name %></div>
    </div>
    <div class="row">
      <div class="col-3">食材情報</div>
      <!--CSSに適応させるためPタグ使用-->
      <div class="col-auto"><p><%= @food.detail %></p></div>
    </div>
    <div class="row">
      <div class="col-3">コメント</div>
      <div class="col-auto"><%= @food.comments.count %>件</div>
    </div>
    <div class="row">
      <div class="col-3">ジャンル</div>
      <div class="col-auto"><%= @food.genre %></div>
    </div>
    <div class="row">
      <div class="col-3">管理者名</div>
      <div class="col-auto"><%= @food.user.name %></div>
    </div>
    <div class="row">
      <div class="col-3">個数</div>
      <div class="col-auto"><%= @food.quantity %></div>
    </div>
    <div class="row">
      <div class="col-3">消費期限</div>
      <div class="col-auto"><%= @food.deadline_time.strftime('%Y/%m/%d') %></div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-auto"><%= link_to "編集", edit_food_path(@food), class:"btn btn-outline-dark btn-sm mt-3" %></div>
    </div>
  </div>

  <div class="col-sm col-lg-4 mt-2 mb-5">
    <div class="position-relative mt-3" data-toggle="popover" data-placement="top" data-content="1~300文字まで">
      <%= form_with(model:[@food, @comment], local: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "例：カレーに使用します。使わないで！", class:"mb-1 form-control" %>
        <%= f.submit "コメント追加" , class:"btn btn-dark btn-sm"%>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-3">
  <% @food.comments.each do |comment| %>
    <div class="row rounded border shadow-sm text-wrap">

      <!--<div class="col-1">-->
      <!--  <= attachment_image_tag @food, :image, :fill, 50, 50, class:" img-fluid img-thumbnail shadow" %> -->
      <!--</div>-->

      <div class="col-1">
        <%= comment.created_at.strftime('%m/%d') %>
      </div>
      <div class="col-auto">
      <!--CSSに適応させるためPタグ使用-->
        <p><%= comment.comment %></p>
      </div>
        <% if comment.user == current_user %>
        <div class="col-1">
          <%= link_to "削除", food_comment_path(comment.food, comment), method: :delete, class:"btn btn-outline-danger btn-sm mt-1 mb-1" %>
        </div>
        <% end %>
    </div>
  <% end %>
</div>