<!DOCTYPE html>
<html>
  <head>
    <title>FoodStorage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div><%= link_to image_tag("logo2.PNG", size: "200x70"), root_path%></div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="fas nav-link text-dark">
                  マイページ
                </li>
                <li>
                  <%= link_to "食糧庫", new_food_path, class:"fas nav-link text-dark" %>
                </li>
                <li class="fas nav-link text-dark">
                  共有食糧庫
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt nav-link text-dark" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "About", about_path, class:"fas nav-link text-dark" %>
                </li>
                <li class="fas nav-link text-dark">
                  なんか考えます
                </li>
                <li>
                  <%= link_to "新規登録", new_user_registration_path, class:"fas fa-user-plus nav-link text-dark" %>
                </li>
                <li>
                  <%= link_to "ログイン", new_user_session_path, class:"fas fa-sign-in-alt nav-link text-dark" %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      </nav>
    </header>

    <main style="margin-bottom:80px">
      <div class="container p-2 bg-warning">
        <p class="text-success"><%= notice %></p>
        <p class="text-danger"><%= alert %></p>
        <%= yield %>
      </div>
    </main>

    <footer class="text-center", style="height:50px">
      <div class="container">
        <div class="footer_copyright">
          Copyright © 2021 DMM WebCamp:FoodStorage All Rights Reserved.
        </div>
      </div>
    </footer>

  </body>
</html>
